html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg-custom-purple {
    background-color: #C5CAF2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}